<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.magiccube.dao.mapper.AssertRunMapper">


    <!--通用应用节运行时数据表映射-->
    <resultMap type="com.simon.magiccube.dao.domain.AssertRun" id="AssertRunMap">
        <id property="id" column="id" jdbcType="INTEGER" />
        <result property="assertId" column="assert_id" jdbcType="VARCHAR" />
        <result property="assertRunResult" column="assert_run_result" jdbcType="INTEGER" />
        <result property="assertResponseResult" column="assert_response_result" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
        <result property="createrName" column="creater_name" jdbcType="VARCHAR" />
        <result property="createrTime" column="creater_time" jdbcType="TIMESTAMP" />
        <result property="modifyName" column="modify_name" jdbcType="VARCHAR" />
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP" />
        <result property="isDelete" column="is_delete" jdbcType="INTEGER" />
    </resultMap>


    <!-- 通用查询结果集合-->
    <sql id="Base_Column_List">
		id,assert_id,assert_run_result,assert_response_result,remark,creater_name,creater_time,modify_name,modify_time,is_delete
	</sql>


    <sql id="conditions">
        <if test="id != null"> and id =#{id,jdbcType=INTEGER}</if>
        <if test="assertId != null and assertId != ''"> and assert_id =#{assertId,jdbcType=VARCHAR}</if>
        <if test="assertRunResult != null"> and assert_run_result =#{assertRunResult,jdbcType=INTEGER}</if>
        <if test="assertResponseResult != null and assertResponseResult != ''"> and assert_response_result =#{assertResponseResult,jdbcType=VARCHAR}</if>
        <if test="remark != null and remark != ''"> and remark =#{remark,jdbcType=VARCHAR}</if>
        <if test="createrName != null and createrName != ''"> and creater_name =#{createrName,jdbcType=VARCHAR}</if>
        <if test="createrTime != null and createrTime != ''"> and creater_time =#{createrTime,jdbcType=TIMESTAMP}</if>
        <if test="modifyName != null and modifyName != ''"> and modify_name =#{modifyName,jdbcType=VARCHAR}</if>
        <if test="modifyTime != null and modifyTime != ''"> and modify_time =#{modifyTime,jdbcType=TIMESTAMP}</if>
        <if test="isDelete != null"> and is_delete =#{isDelete,jdbcType=INTEGER}</if>
    </sql>

    <!-- 查询（根据主键ID查询） -->
    <select id="selectAssertRunById" resultMap="AssertRunMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM assert_run
        WHERE id = #{id}
    </select>

    <!-- 添加 （匹配有值的字段,不建议使用）-->
    <insert id="insertAssertRun"  keyProperty="id" useGeneratedKeys="true">
        INSERT INTO assert_run
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null"> id,</if>
            <if test="assertId != null"> assert_id,</if>
            <if test="assertRunResult != null"> assert_run_result,</if>
            <if test="assertResponseResult != null"> assert_response_result,</if>
            <if test="remark != null"> remark,</if>
            <if test="createrName != null"> creater_name,</if>
            <if test="createrTime != null"> creater_time,</if>
            <if test="modifyName != null"> modify_name,</if>
            <if test="modifyTime != null"> modify_time,</if>
            <if test="isDelete != null"> is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null"> #{id,jdbcType=INTEGER},</if>
            <if test="assertId != null"> #{assertId,jdbcType=VARCHAR},</if>
            <if test="assertRunResult != null"> #{assertRunResult,jdbcType=INTEGER},</if>
            <if test="assertResponseResult != null"> #{assertResponseResult,jdbcType=VARCHAR},</if>
            <if test="remark != null"> #{remark,jdbcType=VARCHAR},</if>
            <if test="createrName != null"> #{createrName,jdbcType=VARCHAR},</if>
            <if test="createrTime != null"> #{createrTime,jdbcType=TIMESTAMP},</if>
            <if test="modifyName != null"> #{modifyName,jdbcType=VARCHAR},</if>
            <if test="modifyTime != null"> #{modifyTime,jdbcType=TIMESTAMP},</if>
            <if test="isDelete != null"> #{isDelete,jdbcType=INTEGER},</if>
        </trim>
    </insert>



    <!-- 根据主键修改输入的值-->
    <update id="updateAssertRunByIdSelective" >
        UPDATE assert_run
        <set>
            <if test="assertId != null and assertId != ''"> assert_id=#{assertId},</if>
            <if test="assertRunResult != null and assertRunResult != ''"> assert_run_result=#{assertRunResult},</if>
            <if test="assertResponseResult != null and assertResponseResult != ''"> assert_response_result=#{assertResponseResult},</if>
            <if test="remark != null and remark != ''"> remark=#{remark},</if>
            <if test="createrName != null and createrName != ''"> creater_name=#{createrName},</if>
            <if test="createrTime != null "> creater_time=#{createrTime},</if>
            <if test="modifyName != null and modifyName != ''"> modify_name=#{modifyName},</if>
            <if test="modifyTime != null "> modify_time=#{modifyTime},</if>
            <if test="isDelete != null and isDelete != ''"> is_delete=#{isDelete},</if>
        </set>
        WHERE id=#{id}
    </update>

    <!-- 分页查询 -->
    <select id="selectAssertRunListPage" resultMap="AssertRunMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM assert_run
        <where>
            <include refid="conditions" />
        </where>
        ORDER BY id DESC

        limit #{startOfPage},#{pageSize}
    </select>

    <!-- 分页查询总数 -->
    <select id="selectAssertRunListPageTotal" resultType="java.lang.Long" parameterType="java.util.HashMap" useCache="false">
        SELECT
        count(*)
        FROM assert_run
        <where>
            <include refid="conditions" />
        </where>
    </select>

    <!-- 按条件查询列表 -->
    <select id="selectAssertRunList" resultMap="AssertRunMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM assert_run
        <where>
            <include refid="conditions" />
        </where>
    </select>

</mapper>