<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simon.magiccube.dao.mapper.SceneManageMapper">

    <resultMap type="com.simon.magiccube.dao.domain.SceneManage" id="SceneManageMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="productId" column="product_id" jdbcType="VARCHAR"/>
        <result property="appId" column="app_id" jdbcType="VARCHAR"/>
        <result property="sceneName" column="scene_name" jdbcType="VARCHAR"/>
        <result property="sceneDes" column="scene_des" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="createrName" column="creater_name" jdbcType="VARCHAR"/>
        <result property="createrTime" column="creater_time" jdbcType="TIMESTAMP"/>
        <result property="modifyName" column="modify_name" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="SceneManageQueryById" resultMap="SceneManageMap">
        select
        id, product_id, app_id,scene_name, scene_des, remark, creater_name, creater_time, modify_name, modify_time, is_delete
        from scene_manage
        where id = #{id} and is_delete = 1
    </select>

    <!--查询单个-->
    <select id="SceneManageListQueryById" resultMap="SceneManageMap">
        select
        id, product_id, app_id,scene_name, scene_des, remark, creater_name, creater_time, modify_name, modify_time, is_delete
        from scene_manage
        where id = #{id} and is_delete = 1
    </select>

    <!--查询指定行数据-->
    <select id="SceneManageQueryAllByLimit" resultMap="SceneManageMap">
        select
        id, product_id,app_id, scene_name, scene_des, remark, creater_name, creater_time, modify_name, modify_time, is_delete
        from scene_manage
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="SceneManageQueryAll" resultMap="SceneManageMap">
        select
        id, product_id,app_id, scene_name, scene_des, remark, creater_name, creater_time, modify_name, modify_time, is_delete
        from scene_manage
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="productId != null and productId != ''">
                and product_id = #{productId}
            </if>
            <if test="appId != null and appId != ''">
                and app_id = #{appId}
            </if>
            <if test="sceneName != null and sceneName != ''">
                and scene_name = #{sceneName}
            </if>
            <if test="sceneDes != null and sceneDes != ''">
                and scene_des = #{sceneDes}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="createrName != null and createrName != ''">
                and creater_name = #{createrName}
            </if>
            <if test="createrTime != null">
                and creater_time = #{createrTime}
            </if>
            <if test="modifyName != null and modifyName != ''">
                and modify_name = #{modifyName}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
        </where>
        order by id desc
    </select>

    <!--新增所有列-->
    <insert id="SceneManageInsert" keyProperty="id" useGeneratedKeys="true">
        insert into scene_manage(product_id,app_id, scene_name, scene_des, remark, creater_name, creater_time,
        modify_name, modify_time, is_delete)
        values (#{productId},#{appId}, #{sceneName}, #{sceneDes}, #{remark}, #{createrName}, #{createrTime}, #{modifyName},
        #{modifyTime}, 1)
    </insert>

    <!--通过主键修改数据-->
    <update id="SceneManageUpdate">
        update scene_manage
        <set>
            <if test="productId != null and productId != ''">
                product_id = #{productId},
            </if>
            <if test="appId != null and appId != ''">
                app_id = #{appId},
            </if>
            <if test="sceneName != null and sceneName != ''">
                scene_name = #{sceneName},
            </if>
            <if test="sceneDes != null and sceneDes != ''">
                scene_des = #{sceneDes},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="createrName != null and createrName != ''">
                creater_name = #{createrName},
            </if>
            <if test="createrTime != null">
                creater_time = #{createrTime},
            </if>
            <if test="modifyName != null and modifyName != ''">
                modify_name = #{modifyName},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="SceneManageDeleteById">
        delete from scene_manage where id = #{id}
    </delete>

    <!--删除用例（is_delete设置为0）-->
    <update id="SceneManageDelete">
        update scene_manage set is_delete = 0  where id = #{id}
    </update>

</mapper>